/**********************************************
	Criado pelo Leandro Yamasaki
**********************************************/


/*Global*/
body{overflow-x: hidden;}
.container{width: 1280px; font-family: "Seravek", Verdana, sans-serif;}
.azul-escuro{color: #0d2c62}
.azul-claro{color: #35a6ce;}
.branco{color: #fff;}
.fonte-Year{font-family: 'AYearWithoutRain';}

/*HEADER*/
header .borda-top{width: 100%; border-bottom: 15px solid #0d2c62;}
header .logotipo{background-image: url(#{resource['images:logo-Magna.png']}) no-repeat; height:100px; margin-left: 20px; margin-top: 20px;}
header h1{font-size: 3em; margin-top: 40px;}


/*PARALLAX*/
section#parallax{margin-top: 20px;}
section#parallax .parallax-window {min-height: 200px;background: transparent; width: 100%; height: 350px}
section#parallax .texto-parallax{position: absolute; margin-top: -350px; margin-left: 182px;}
section#parallax h1{font-size: 4em; margin-top: -12px;}
section#parallax h2{font-size: 3em;}

/*FORMULÃ�RIO*/
section#formulario{background-color: #ccc; }
section#formulario .txtPergunta{background-color: #fff; font-size:1.2em; border: 0px solid; height: 60px; width: 62%; margin-top:10px; color: #999; margin-left: 10px; padding: 10px;}
section#formulario .txtResposta{background-color: #fff; font-weight:bold; font-size:1em; border: 0px solid; width: 100%; color: #666; margin-left: 10px; padding: 5px;}
section#formulario .mascote{margin-top: 20px;}
section#formulario .fundo-branco{background-color: #fff; margin-left: 25px; margin-top: 35px; width: 49.5%; height: 80px; padding: 10px;}
section#formulario .icon-seta{margin-left: -65px; margin-top: -10px; float: left; width:60px; height:32px;}

section#formulario .ui-icon { 
	margin-left: -20px;
	margin-top: -30px;
	width: 60px;
	height: 60px;
	position: absolute;
	z-index: 1;
    background-image: url(#{resource['images:icon-buscar.gif']}); 
}



/*FOOTER*/
section#footer{background-color: #999; border-bottom: 115px; width: 100%;}
section#footer .ux-footer h1{color: #ed1c24; font-size: 1em;}
section#footer .ux-footer p{color: #fff; text-align: center;font-size:1em; background-color: transparent;}

/* Preloader
----------------------------------*/
.ux-preloader .ui-dialog-titlebar {
	display: none !important;
}

/* Like Box */
.like-box {
	float: right;
}

.like-box .glyphicon {
	margin: 5px;
}	
.like-box a:hover {
	text-decoration: none;
}